.nav{
    grid-area: navi;
    background-color: greenyellow;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;

}
.item a.action{
    color: blueviolet;
}
.friends {
    margin-top: 20px;
}

