.app-wrapper{
  display: grid;
  grid-template-areas:
    "header header"
    "navi content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
}


.header{
  grid-area: header;
  background-color: blueviolet;
}
.header img{
  width: 50px;
}
.nav{
  grid-area: navi;
}
.content{
  grid-area: content;
}
.content img{
  width: 100%;
  height: 27%;
  object-fit: cover;
}

